<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Document</title>
</head>
<body>
    <h1>Cursos</h1>
    <h3>IFMS - Campus Dourados</h3>
    <ul>
        <li>Tec Informática</li>
        <li>Tec ADM</li>
        <li>Tec Agro</li>
    </ul>
</body>
</html>