<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Pesquisas</h1>
    <h3>IFMS - Campus Dourados</h3>
    <p><a href="labrador.png">Labrador</a></p>
    <p><a href="resumo.jpg">Resumo Jpg</a></p>
    <p><a href="resumo.pdf">Resumo PDF</a></p>
</body>
</html>